delta         log_g           2.99     
uniform       r_planet        1.6    2.3    Rj
gaussian      r_star          1.57   0.07   Rs
log_uniform   H2O             1e-12  1e-1
log_uniform   TiO             1e-12  1e-3
log_uniform   VO              1e-12  1e-3
log_uniform   K               1e-12  1e-3
uniform       temperature     500    1600
