uniform       forward_model_param1   0.0     10.0
uniform       forward_model_param2   0.0     10.0
uniform       forward_model_param3   0.0     10.0
log_uniform   chemistry_param1       1e-12   0.01  
log_uniform   chemistry_param2       1e-12   0.01
log_uniform   chemistry_param3       1e-12   0.01
log_uniform   chemistry_param4       1e-12   0.01
log_uniform   chemistry_param5       1e-12   0.01
uniform       temperature_param1     5000    1000      
uniform       temperature_param2     0.3     0.95       
uniform       temperature_param3     0.3     0.95       
uniform       temperature_param4     0.4     0.95       
uniform       temperature_param5     0.5     0.95
log_uniform   cloud_param1           0.0     10.0
log_uniform   cloud_param2           0.0     10.0
log_uniform   cloud_param3           0.0     10.0
uniform       module_param1          0.0     1.00       
uniform       module_param2          0.0     1.00       
uniform       module_param3          0.0     1.00
gaussian      observation_offset1    100     0.4
gaussian      observation_offset2    100     0.4
