#Number of levels
150

#Bottom of atmosphere pressure (bar)
10

#Top of atmosphere pressure (bar)
1e-6

#Temperature profile
const

#Cloud model
none

#Retrieved chemical species
iso H2O TiO VO K

#Opacity species&folders
CIA-H2-H2   CIA/H2-H2
CIA-H2-He   CIA/H2-He
H2          Rayleigh
He          Rayleigh
H2O         Molecules/1H2-16O__POKAZATEL_e2b
TiO         Molecules/48Ti-16O__Toto_e2b
VO          Molecules/51V-16O__VOMYT_e2b
K           Alkali_Allard/K
Na          Alkali_Allard/Na
