#Number of levels
70

#Bottom of atmosphere pressure (bar)
100

#Top of atmosphere pressure (bar)
1e-3

#Temperature profile, number of elements
6

#Temperature profile, polynomial degree
1

#Use grey cloud layer (N/Y)
N

#Radiative transfer (scm/disort)
scm

#Retrieved chemical species
iso H2O CH4 NH3 CO2 CO H2S K

#Opacity species&folders
H2   H2
Na   Na
K    K
H2O  H2O
CO   CO
CH4  CH4
CO2  CO2
NH3  NH3
H2S  H2S
