################
#General config#
################
#Use GPU
Y

#OpenMP processor number (if 0, use maximum)
28

#Spectral resolution (cm-1)
1.0

#Opacity data folder
/media/data/opacity/helios/molecules

#Use error inflation prior
Y

#####################
#Multinest parameter#
#####################
#Importance nested sampling
Y

#Mode separation
N

#Number of live points
4000

#Efficiency
0.8

#Maximum number of iterations (0 for no limit)
0

#Resume
N

#Console feedback
Y

#Print parameter values and likelihoods
Y

