#the executable
bear

# build files from cmake
build/*
CMakeFiles/*
.vscode/

_deps/*

# MultiNest library (might be in conflict with GPL 3.0)
multinest/libmultinest.a
multinest/multinest.h

multinest/libmultinest.so.3.10

# Some test directories
RetrievalTest/*
TransmissionTest/*
EmissionTest/*
SecondaryEclipseTest/*

python/lib/pybear.cpython*
python/lib/__pycache__/*
python/__pycache__/*
python/src/__pycache__/*
python/transmission/src/__pycache__/*
python/secondary_eclipse/src/__pycache__/*
