#the executable
helios-r

# build files from cmake
build/*
CMakeFiles/*
.vscode/

_deps/*

# MultiNest library (might be in conflict with GPL 3.0)
multinest/libmultinest.a
multinest/multinest.h

multinest/libmultinest.so.3.10

# Some test directories
RetrievalTest/*
TransmissionTest/*
WASP-43b/*
WASP-12b_test/*
