uniform       log_g           4.0    6.0        
uniform       scaling_factor  0.1    5.0        
gaussian      distance        5.8819 0.0029  pc
uniform       temp_bottom     5000   1000
uniform       temp_b1         0.3    0.95
uniform       temp_b2         0.3    0.95
uniform       temp_b3         0.4    0.95
uniform       temp_b4         0.5    0.95
log_uniform   chem_h2o_mr          1e-12  0.01
log_uniform   chem_ch4_mr          1e-12  0.01
log_uniform   chem_nh3_mr          1e-12  0.01
log_uniform   chem_k_mr            1e-12  0.01
log_uniform   chem_h2s_mr          1e-12  0.01
log_uniform   chem_co2_mr          1e-12  0.01
