delta         log_g                     3.64464       
delta         radius_ratio              0.151271
uniform       M/H                       0.1       2.45
delta         C/O                       0.55
uniform       temperature1              5000      1000      
uniform       temperature2              0.1       1.0       
uniform       temperature3              0.1       2.0       
uniform       temperature4              0.1       2.0       
uniform       temperature5              0.1       2.0
uniform       temperature6              0.1       2.0
uniform       temperature7              0.1       2.0
