################
#General config#
################
#Use GPU
Y

#OpenMP processor number (if 0, use maximum)
0

#########################
General retrieval config#
#########################

#forward model type
secondary_eclipse

#Spectral resolution (cm-1)
1.0

#Opacity data folder
/media/data/opacity_data/helios-k/

#Use error inflation prior
N

#####################
#Multinest parameter#
#####################
#Importance nested sampling
Y

#Mode separation
N

#Number of live points
800

#Efficiency
0.8

#Maximum number of iterations (0 for no limit)
0

#Resume
N

#Console feedback
Y

#Print parameter values and likelihoods
N

