################
#General config#
################
#Use GPU
Y

#OpenMP processor number (if 0, use maximum)
0

#########################
General retrieval config#
#########################

#forward model type
flat_line

#Spectral resolution (cm-1)
const_wavenumber 0.5

#Opacity data folder
/media/data/opacity_data/helios-k/

#Use error inflation prior
N

