#Number of levels
70

#Bottom of atmosphere pressure (bar)
100

#Top of atmosphere pressure (bar)
1e-3

#Temperature profile
poly 6 1

#stellar spectrum
WASP-43.dat

#cloud layer
none

#Radiative transfer (scm/disort)
scm

#Retrieved chemical species
iso H2O CO K TiO VO SH

#Opacity species&folders
CIA-H2-H2   CIA/H2-H2
CIA-H2-He   CIA/H2-He
Na          Alkali_Allard/Na
K           Alkali_Allard/K
H2O         Molecules/H2O_pokazatel
CO          Molecules/13C-16O__Li2015_e2b
TiO         Molecules/48Ti-16O__Toto_e2b
VO          Molecules/51V-16O__VOMYT_e2b
SH          Molecules/32S-1H__GYT_e2b
